.loginPage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loginPageHeader {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.formWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.formHorizontal {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.formGroup {
    margin-bottom: 20px;
}

.controlLabel {
    font-weight: bold;
    color: #333;
}

.formControl {
    border-radius: 0;
    height: 40px;
}

.btnPrimary {
    color: white !important;
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btnPrimary:hover,
.btnPrimary:focus {
    background-color: var(--dark-primary-color) !important;
    border-color: var(--dark-primary-color) !important;
}

.ctaButton {
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px 30px;
}

.loginPageParagraph {
    text-align: center;
    margin-top: 10px;
}

.loginPageLink {
    color: #ff5a5f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}